.section-one{
    background-image: url('../img/Maroon.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.section-one img{
    height: 350px;
    width: 350px;
    vertical-align: middle;
}
.section-2{
   
    display: flex;
    
}
.column{
    background-color: whi;
    flex: 50%;
    padding: 10px;
    width: 100%;
}
#column-1{
    background-image: url('../img/Maroon-5.jpg');
    background-attachment: fixed;
    background-size: 50% 133%;
    background-repeat: no-repeat;
    height: 100vh;
}
#column-2{
    
    max-height: 100%;
    text-align: justify;
    padding: 90px;
}
#get1{
    font-family: "italic";;
    font-size: 90px;
    color: maroon;}

#get2{
     font-family: "italic";;
     font-size: 60px;
     color: maroon;
}
#member-5{
    float: left;

}
.youtube{
    text-align: center;
}

.section-3{
    display: flex;
    flex-direction: column;
    background: #181015 url(../img/crop.jpg) 0px -809px no-repeat; 
    display: flex;
    color: white;
}  
  .section-3{ 
        id{font: italic
        font-size: 50px
        font-weight: 50px;
        
    ;}
    ul{
        list-style-type: none;
    }
   

} 
.sec-row{
    display: flex;
    text-align: center;
    padding: 30px;
    font-family: "TrendSansW00-Four";
}
.sec-row h2{
    font-size: 60px !important;
}
.mem{
    display: flex;
    text-align: center;
}


    
.section-4{ 
    flex: 50%;
     margin: 10px
     ;}
.members{
    flex: 25%;
    margin: 20px;
}
.members img{
    height: 300px;
    width: 300px;
}
.member-info{
    margin: 20px;
}
.member-name{
    font-size: 21px;
    font-weight: 1000;
}
.member-position{
    font-size: 15px;

}